.banner
{
    
    
    &-container{
    background-image: url('../image/mogi.vn_\ \(1\).png');
    
    height: 440px;
    display: flex;
    align-items: center;
    }
    &-inner{
        display: flex;
        flex-flow: column;
        width: 27.5%;
        margin: 0 auto;
       color: #fff;
       h1{
        font-size: 32px;
        text-align: center;
       }
    &-content{
        padding: 20px;
        border: 1px solid #262637;
        border-radius: 5px;
        margin-top: 35px;
       background-color: rgb(23 23 23 / 50%);

        &-on{
           
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        &-list{
            display: flex;
            justify-content: space-evenly;
        }
        &-search
        {
            input{
            width: 90%;
            padding: 12px;
            border: none;
            line-height: 24px;
            color: #262637;
            height: 48px;
            border-radius: 8px 0 0 8px;

            }
            a{
                display: block;
               float: right;
                background-color: #01adba;
                color: #fff;
                border-radius: 0 8px 8px 0;
                text-align: center;
                width: 48px;
                height: 48px;

            }
        }
    }
    }
}
.mb-10{
    margin-bottom: 20px;
}