.information-project{
    h1{
        margin-bottom: 20px;
    }
    margin-top: 25px;
    &-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &-items{
        width: 19%;
        border-radius: 10px;
        border: 1px solid #ccc;
        overflow: hidden;
        &:hover{
            color: #222;
        }
        &-desc{
            font-weight: 400;
            padding: 0 9px;
        }
        &-price{
            padding: 0 9px;
            height: 24px;
            font-size: 23px;
            font-weight: 700;
            line-height: 24px;
            color: #0499a8;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
        }
        &-post{
            display: flex;
            align-items: start;
            flex-direction: column;
            font-size: 18px;
            padding: 10px;
            a{
                padding: 0 9px;
                cursor: pointer;
                color: #222;
                
                font-weight: 700;
            }
           
        }
    }
}