$font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
$primary-color:white;
$header-color:#262637;
$font-size: 14px;
$font-header:15px;